/*Se suele basar en el % de las ventanas*/
body{
    background-color: #2E3440; 
    color: #ECEFF4;
    padding: 0; margin: 0;
}

/*Links genéricos*/
a:link{color: #EBCB8B;}
a:visited{color: #e0b080;}
a:hover{color: #B48EAD}

#cabecera, #pie{
    text-align: center;
    align-content: center;
}
#menu, #contenido, #info{
    float: left;
    padding: 0; 
    margin: 0;
}

/*Links específicos*/
.hor a:hover, .hor a:active{
    background-color: rgb(62, 66, 75);
}
.hor li{
    float: left; /*Flotantes para que se coloquen uno al lado del otro*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0; padding: 0;
}
.hor a{
    margin: 0;
    color: #e0b080;
    background-color: #2E3440;
    text-align: center;
    padding: 4px
}

/*Esconder cosas*/
.grande{display: none;}
.mediano{display: none;}
.pequeño{display: none;}
