.mediano{
    display: inherit !important;
}

.grid{
    display: grid;
    grid-template-columns:  repeat(12, 8.33%);
    grid-template-rows:     repeat(12, 8.33%);
    grid-gap: 5px;
}

.header{
    background-color: rgba(0, 0, 0, 0.20);
    grid-column: 1 / 13;
    grid-row: 1 / 5;
    align-self: center;
}

.menu-mediano{
    align-self: center;
    justify-self: center;
    grid-column: 1/13;
    grid-row: 5;
}

.content-mediano{
    align-self: top;
    grid-column: 2/9;
    grid-row: 6/10;
}
.content2-mediano{
    align-self: top;
    grid-column: 9/12;
    grid-row: 6/10;
}

.footer{
    align-self: center;
    background-color: rgba(0, 0, 0, 0.20);
    grid-column: 1/13;
    grid-row: 11/13;
}

